body {
    background-color: #eef2f3;
    font-family: Arial, sans-serif;
}

.logo {
    width: auto; /* Ajusta automaticamente */
    max-width: 100%; /* Garante que a imagem não ultrapasse o card */
    height: auto; /* Mantém a proporção da imagem */
    max-height: 150px; /* Limita a altura */
    display: block;
    margin: 0 auto; /* Centraliza a imagem */
    object-fit: contain; /* Garante que a imagem se encaixe corretamente */
}


.card {
    border-radius: 10px;
}

.btn-primary {
    background-color: #F1900E;
    border-color: #F1900E;
}

.btn-primary:hover {
    background-color: #D17A0C;
    border-color: #D17A0C;
}


